# Node.js
node_modules/
.env
.env.*

# Vite/React
frontend-react/dist/
frontend-react/.env
frontend-react/node_modules/

# Golang
backend-golang/bin/
backend-golang/.env
backend-golang/go.sum
backend-golang/go.mod

# AI Node
api-ai-node/node_modules/
api-ai-node/.env

# Log & coverage
*.log
coverage/

# Database & dump
*.sqlite
*.db
*.sql

# System
.DS_Store
Thumbs.db

# Build
build/
dist/ 