# === Logs ===
logs
**/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# === Node.js ===
**/node_modules/
**/package-lock.json
*.local

# === Build Output ===
**/dist/
dist-ssr
**/bin/
**/build/
*.out
*.test
*.exe

# === Go ===
*.mod
*.sum
Be/go.work
Be/go.work.sum
**/tmp/
**/.cache/

# === Environment Files ===
.env
.env.*
**/.env
**/.env.*

# === System Files ===
.DS_Store
Thumbs.db

# === Editor / IDE ===
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# === Database ===
*.sqlite
*.db
*.sql

# === Uploads (optional) ===
**/uploads/
